<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Madlib</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <h1>MadLib</h1>
      <p>A vacation is when you take a trip to some @Model.InputOne place with your @Model.InputTwo family.</p>
      <p>Usually you go to some place that is near a/an @Model.InputThree or up on a/an @Model.InputFour.</p>
      <p>A good vacation place is one where you can ride @Model.InputFive or play @Model.InputSix or go hunting for @Model.InputSeven </p>
      <p>I like to spend my time @Model.InputEight or @Model.InputNine.</p>
    </div>  
  </body>
</html>