<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Madlib</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <h1>MadLib</h1>
      <p>@Model.InputOne @Model.InputTwo</p>
      <p> @Model.InputThree  @Model.InputFour</p>
      <p>@Model.InputFive  @Model.InputSix  @Model.InputSeven </p>
      <p> @Model.InputEight  @Model.InputNine.</p>
    </div>  
  </body>
</html>